*{
    margin:0;
    padding:0;
    outline: 0px;
    font-family: Sans-Serif;
}

body{
    font-size: 12px;
}

.container-fluid{
    min-width: 1200px;
    max-width: 1200px;
    padding: 0px;
    background: #1475A1;
}

.navbar{
    background: #1475A1;
    border: none;
    margin-bottom: 10px;
    border-radius: 0px;
}

.logo{
    background: #000; 
    height: 50px;
    width: 150px;
}

#menuUl a{
    color:#fff;
}

#menuUl a:hover{
    color:#bbb;

}

#arrowUp{
    width: 0px;
    height: 0px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #095077;
    margin-left: 30px;
}

#company .menu_list,
#activites .menu_list,
#trekking .menu_list,
#expedition .menu_list{
    display: none;
}

#company:hover .menu_list,
#activites:hover .menu_list,
#trekking:hover .menu_list,
#expedition:hover .menu_list{
    padding:0;
    width:150px;
    display:block;
    position:absolute;
    color:#fff;
    top: 40px;
    z-index:1;
}

.menu_list div{
    border:none;
}

.menu_list a {
    outline:0;
    color:#fff;
    display:block;
    width:150px;
    padding:10px 0 10px 20px;
    text-align:left;
    text-decoration:none;
    background:#095077;
    border-bottom:1px solid #1475A1;
    border-right:1px solid #1475A1;
    border-left:1px solid #1475A1;
}

.menu_list a:hover {
    background:#1475A1;

}

#searchSiteForm input{
    color: #ddd;
    border-radius: 0px;
    background: #095077;
    border-color: #0A6188;
}

#searchSiteForm input::-webkit-input-placeholder { /* WebKit browsers */
    color: #ddd;
}
#searchSiteForm input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ddd;
    opacity: 1;
}
#searchSiteForm input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ddd;
    opacity: 1;
}
#searchSiteForm input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #ddd;
}

.inner-addon {
    position:relative;
}

.inner-addon .glyphicon {
    position:absolute;
    padding:10px;
    pointer-events:none;
}

.right-addon .glyphicon {
    right:0;
}

.right-addon input {
    padding-right:30px;
}

.iconProp{
    color: #ddd;
}

.content{
    margin: 0 auto;
    width: 1200px;
    display: table;

}

.welcomeIntro{
    float: right; 
    background: #fff;
    height: 349px; 
    width: 470px;
}

.welcomeIntro h4{
    color: #333;
    border-bottom: 1px solid #ccc;
    margin-top: 0px;
    padding-bottom: 10px;
}

.selectOverride{
    margin-bottom: 10px;
    padding: 5px 5px;
    background: #1475A1;
    border-color: #1475A1;
    border-radius: 0px;
    color: #ddd;
}

.btnSubmit{
    border-radius: 0px;
    padding-left: 20px;
    padding-right: 20px;
    background: #1475A1;
    border-color: #1475A1;
    color: #ddd;
}

.btnSubmit:hover{
    background: #1475A1;
    border-color: #1475A1;
    color: #ccc;
    opacity: 0.8;
}

.infoWrap{
    display: table;
    width: 1200px;
    margin-bottom: 10px;
}

.infoContainer{
    width: 590px;
    float: left;
    margin-right: 10px;
    display: table-cell;
}

.infoContainer:nth-child(2n){
    float: right;
    margin-right: 0px;
}

.infoContainer h4{
    padding: 5px 0px;
    border-bottom: 1px solid #ccc;
    /*font-stretch: semi-condensed;*/
}

.glyphiconOverride{
    color: #1475A1;
}

.fa-custom{
    color: #1475A1;
    font-size: 15px;
}

.divider{
    height: 1px;
    background: #e5e5e5; 
}

.suggestedPnl{
    padding: 10px;
    display: table;
}

.thumbnailOverride{
    display: table-cell;
    float: left;
    margin: 0px 10px 0px 0px;
}

.suggestedPnlIcon{
    position: relative;
    float: left;
    width: 359px;
    height: 180px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.teamIcon{
    position: relative;
    float: left;
}

.suggestedPnlTitle{
    font-size:15px;
    color: #555;
    padding: 10px 0px;
    font-weight: bold;
}

.reviewPnl{
    padding: 6px 10px;
}

.reviewPnl h5{
    color:#1475A1;
}

.highlightPnl{
    float: left;
    width: 391px;
    height: 500px;
    padding: 10px;
    display: block;
}

.highlightPnl:nth-child(3){
    margin: 0px 13px;
}

.highlightThumb{
    width: 400px;
}

.otherInfo{
    width: 391px;
    padding: 0px;
    border: 0px;
    box-shadow: none;
    height: 320px;
}

#informationArea{
    width: 1200px;
    margin: 0px;
}

#informationArea h4{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

#informationArea ul i{
    font-size: 18px;
}

#informationArea form input{
    margin-bottom: 10px;
}

.location{
    list-style: none;
}

.location li{
    padding: 10px 0px;
}

.fb-page{
    margin: 0px;
}

.footer{
    border-top: 5px solid #1475A1;
    border-radius: 0px;
    box-shadow: none;
    background: #222;
    margin: 0px;
}

.footerBody{
    display: block;
    background: #095077;
}

.footerBody h4{
    font-size: 13px;    
    font-weight: bold;
}

.footerLinkWrap{
    display: table;
    margin: 0px auto;
}

.footerLink:first-child{
    border-left: 0px;
    width: 400px;
}

.footerLink{
    display: table-cell;
    padding: 20px 0px 0px 20px; 
    height: 230px;
    width: 200px;
    float: left;
    color: #e6e6e6;
    border-left: 1px solid #1475A1; 
}

.footerLink ul{
    list-style: none;
}

.footerLink li{
    height: 25px;
    margin-bottom: 10px;
}

.footerLink a{
    color: #e6e6e6;
    text-decoration: none;
}

.footerLink a:hover{
    text-decoration: underline;
}

.footerIcon{
    background: url(../images/fb.png) left center no-repeat;
    padding: 9px 35px;
}

.ng{
    background: url(../images/ng.png) left center no-repeat;
}

.ntb{
    background: url(../images/ntb.jpg) left center no-repeat;
}

.ta{
    background: url(../images/ta.jpg) left center no-repeat;
}

.nma{
    background: url(../images/nma.png) left center no-repeat;
}

.fb{
    background: url(../images/fb.png) left center no-repeat;
}

.tw{
    background: url(../images/tw.png) left center no-repeat;
}

.in{
    background: url(../images/in.png) left center no-repeat;
}

.gp{
    background: url(../images/gp.png) left center no-repeat;
}

/****************Search Page*******************/
.searchPanels{
    position: relative;
    color: #6e6e6e;
    padding: 0px 10px;
    width: 210px;
    background: #111;
    height: 280px;
    float:left;
    display: table-cell;
    margin: 5px 5px 0px 0px;
    border: 1px solid #555;
    text-align: center;
}

.searchPanels:nth-child(4n){
    margin-right: 0px;
    width: 211px;
}

.searchPanels h3{
    color: #aaa;
    text-align: center;
    padding: 5px 0px;
    border-bottom: 1px solid #555;
}

.searchPanelsIcon{
    width: 150px;
    height: 120px;
    overflow: hidden;
    margin: 10px auto;
}

.searchPanelsIcon img{
    width: 150px;
}

.searchPanels a{
    text-decoration: none;
    color: #e00;
}

.searchPanels a:hover{
    text-decoration: underline;
}

.gallery{
    display: table;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.gallery_icon{
    width: 290px;
    height: 150px;
    float: left;
    display: table-cell;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.gallery_icon:hover{
    cursor: pointer;
    opacity: 0.9;
}

.gallery_preview{
    display: table-cell;
    float: left;
    margin: 0px 0px 0px 0px;
}

.gallery_icon:nth-child(4n+1){
    margin-right: 0px;
}

.popupBackground {
    background:rgba(0,0,0,0.5);
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:100;
    display:none;
}

.fullImageWrap{
    width: 600px;
    display: none;
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    overflow: hidden;
    z-index: 200;

}

.fullImage{
    width: 600px;
    position: relative;
    color: #000;
}

.fullImageCtrl{
    width: 600px;
}

.closeImage,.closeForm{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    background-image: url(images/ui-icons_cd0a0a_256x240.png);
    background-repeat: no-repeat;
    background-position: -95px -127px;
}

.closeImage:hover,.closeForm:hover{
    background-image: url(images/ui-icons_222222_256x240.png);
    background-position: -95px -127px;
    cursor: pointer;
}

.closeForm{
    background-image: url(images/ui-icons_222222_256x240.png);
}

.closeForm:hover{
    background-image: url(images/ui-icons_2e83ff_256x240.png);
}

.wrapForm{
    height: 540px;
    width: 490px;
    margin: 0 auto;
    overflow-y: hidden;
    overflow-x: hidden;
}

.feedsBg{
    height: 580px;
    width: 510px;
    position: fixed;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    border: none;
    display: none;
}

.txtReview{
    width: 100%;
    padding: 3px;
}

.txtAreaReview{
    resize: none;
    font-size: 12px;
}

.popBtn{
    background: #1475A1;
    color: #fff;
}

.popBtn:hover,.popBtn:active,.popBtn:focus{
    background: #095077;
    color: #fff;
}

#loading,#success,#sendError{
    display:none;
    margin:150px auto 0px auto
}